<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>简历生成器</title>
  <link rel = "Shortcut Icon" href="{% static 'resume.ico' %}">
  <link rel="stylesheet" href="{% static 'css/layui.css' %}" media="all">
  <link rel="stylesheet" href="{% static 'css/Transformers.css' %}" media="all">
  <script src="{% static '/layui.js' %}" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">简历生成器</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">生成器</a></li>
      <li class="layui-nav-item"><a href="">模板选择</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">友情链接</a>
        <dl class="layui-nav-child">
          <dd><a href="">友链一</a></dd>
          <dd><a href="">友链二</a></dd>
          <dd><a href="">友链三</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="{% static 'images/head.jpg' %}" class="layui-nav-img">
          sunny
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
  </div>
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">模板</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">模板一</a></dd>
            <dd><a href="javascript:;">模板二</a></dd>
            <dd><a href="javascript:;">模板三</a></dd>
            <dd><a href="">模板四</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">占位一</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">占位二</a></li>
        <li class="layui-nav-item"><a href="">占位三</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <div class="layui-container">
    <!-- 内容主体区域 -->
    {% block mainbody %}
        <p>content</p>
    {% endblock %}
    </div>
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    @Github地址：<a href="https://github.com/sunny0826/CreateResume">https://github.com/sunny0826/CreateResume</a>
  </div>
</div>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
layui.use('layer', function(){
  var layer = layui.layer;

  layer.open({
    type: 1,
    title: false,
    closeBtn: 0,
    shade: 0.6,
    shadeClose: true,
    skin: 'demo-class',
    time: 6000,
    anim: 5,
    content: '<div id="t-ov">\
                <div class="motime">\
                  <div id="head-body"></div>\
                  <div id="head-topcover"></div>\
                  <div id="head-toplogo-bg"></div>\
                  <div id="head-toplogo"></div>\
                  <div id="head-toplogo-2"></div>\
                  <div id="head-bottom"></div>\
                  <div id="head-bottom-2"></div>\
                  <div id="head-sw"></div>\
                  <div id="head-sw-2"></div>\
                  <div id="head-eye"></div>\
                  <div id="head-eye-2"></div>\
                </div>\
              </div>'
    });
});

</script>
</body>
</html>
